<%= form_with(model: memo) do |form| %>
  <% if memo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
        <% memo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
    <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
<div class="text-center">
  <div class="form-group">
    <%= form.label :title, I18n.t('helpers.label.title') %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, I18n.t('helpers.label.body') %>
    <%= form.text_field :body, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
 </div>
  </div>
  </div>
  </article>
  </div>
  </div>
  </div>
<% end %>
