<div id="<%= dom_id memo %>">
  <p>
    <strong><%= I18n.t('memos.show.title') %></strong>
    <%= memo.title %>
  </p>

  <p>
    <strong><%= I18n.t('memos.show.body') %></strong>
    <%= memo.body %>
  </p>

</div>
